@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; 
@import "./media.scss"; 

@font-face { src: url("../fonts/Manrope/Manrope-Light.ttf") format("truetype"); font-family: "Manrope"; font-weight: 300;}
@font-face { src: url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype"); font-family: "Manrope"; font-weight: 400;}
@font-face { src: url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype"); font-family: "Manrope"; font-weight: 500;}
@font-face { src: url("../fonts/Manrope/Manrope-Semibold.ttf") format("truetype"); font-family: "Manrope"; font-weight: 600;}
@font-face { src: url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype"); font-family: "Manrope"; font-weight: 700;}
@font-face { src: url("../fonts/Manrope/ExtraBold.ttf") format("truetype"); font-family: "Manrope"; font-weight: 800;}

@font-face { src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); font-family: "OpenSans"; font-weight: 400;}
@font-face { src: url("../fonts/OpenSans/OpenSans-Medium.ttf") format("truetype"); font-family: "OpenSans"; font-weight: 500;}
@font-face { src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype"); font-family: "OpenSans"; font-weight: 600;}
@font-face { src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); font-family: "OpenSans"; font-weight: 700;}
@font-face { src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"); font-family: "OpenSans"; font-weight: 800;}

:root {
	--accent: orange;
	--text: #7F8B89;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: "Manrope", OpenSans;
	--systemfont: "Manrope", OpenSans, Arial, sans-serif;
}
  
::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: "Manrope", OpenSans;
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.container {
	max-width: 1604px;
	margin: 0 auto;
	padding: 0 20px;
	@media (max-width: 1440px) {
		max-width: 1280px;
	}
	@media (max-width: 1280px) {
		max-width: 1024px;
		padding: 0 40px;
	}
	@media (max-width: 1024px) {
		max-width: 600px;
		padding: 0 20px;
	}
	@media (max-width: 600px) {
		padding: 0 15px;
		min-width: 320px;
	}
}

h1 {
	font-family: "Manrope", OpenSans;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 68px;
	color: #224B45;
}
